body {
    margin: 0;
    background-color: #FFF8E3;
    border: 2px solid rgba(178, 186, 193, 0.6);
    border-radius: 3px;
    height: 600px !important;
    position: relative;
    font-size: 12px;
    font-style: normal;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    /*font-family: GothamMedium, Helvetica, Arial, sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#dhlz-inject-main {
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 20px;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

#wrap {
    width: 250px;
    margin: 10px auto;
}

.dhlz-inject-label {
    margin-top: 20px;
}

.dhlz-inject-label .label-value {
    padding: 2px 8px;
}

.dhlz-inject-label label {
    color: #444;
}

.dhlz-inject-label .label-name {
    background-color: rgba(204, 204, 159, 0.42);
    color: #105B63;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: bold;
}

.dhlz-inject-label .xpath {
    width: 215px;
    max-width: 215px;
    /* border: 0; */
    /* padding: 0; */
    border: 1px solid #ccc;
    overflow: hidden;
}

hr {
    margin: 5px 0;
    border-top: 1px solid #eee;
}