<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
</head>
<body>
<div id="dhlz-inject-main">
    <div id="wrap">

        <span>{{fieldGroupSelected}}</span>
        <div>
            <select v-model="fieldGroupSelected">
                <option>-- 请选择 --</option>
                <option v-for="group in fieldGroupList" value="{{$index}}">
                    {{ group.name }}
                </option>
            </select>
        </div>

        <template v-for="label in page.fields">
            <div class="dhlz-inject-label">
                <!--<div class="dhlz-inject-label choosed" >-->
                <div class="label-name">{{label.name}}</div>
                <div class="label-value"><label>必须 : </label><input v-model="label.must" type="checkbox"></div>
                <div class="label-value"><label>默认值 : </label><input v-model="label.defaultValue" type="text"></div>
                <div class="label-value">
                    <label>xpath</label>
                    <button class="" v-on:click="xpathChoose(label)">选取</button>
                    <div>
                        <textarea class="xpath" name="" id="" v-model="label.xpath"></textarea>
                    </div>
                </div>
                <hr>
            </div>
        </template>
        <div>
            <button @click="testXpath">测试</button>
        </div>
    </div>
</div>
<script src="/js/lib/vue.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/frame.js"></script>
</body>
</html>